CONSUMER_KEY="XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"
CONSUMER_SECRET="XXXXXXXXXXXXXXXXXXX"
USERNAME="XXX@example.org"
PASSWORD="XXXXXXXXXXXXXXX"
TOKEN="XXXXXXXXXXXXXXXXXXXXXXXX"
INSTANCE_URL="https://XXX.lightning.force.com"

curl -v $INSTANCE_URL/services/oauth2/token -d "grant_type=password" -d "client_id=$CONSUMER_KEY" -d "client_secret=$CONSUMER_SECRET" -d "username=$USERNAME" -d "password=$PASSWORD$TOKEN"
